body {
    color: darkorange; 
    background-color: ivory;
    font-family: 'Andada Pro', serif;
    font-size: 15px;
}
h2 {color: orange; font-size: 35px;}
h3 {color: orange; font-size: 35;}
h4 {color: orange; font-size: 35px;}
h5 {color: orange; font-size: 35px;}